{% extends "admin.html" %}


{% block list_question %}

	<!-- Дата, вопрос, статус определенной темы -->
<div class="row">
	<h5>Тема</h5>
	<table>
		<thead>
			<td>Дата создания</td>
			<td>Вопрос</td>
			<td>Статус</td>
			<td>Скрыть</td>
			<td>Опубликовать</td>
			<td>Удалить</td>
		</thead>
		<tbody>
			<tr>
				<td>12.09.2017</td>
				<td>Что нового присходит в стране грез</td>
				<td>ожидает ответа</td>
				<td>Скрыть</td>
				<td>Опубликовать</td>
				<td>Удалить</td>
			</tr>
			<tr>
				<td>12.09.2017</td>
				<td>Где искать любовь</td>
				<td>ожидает ответа</td>
				<td>Скрыть</td>
				<td>Опубликовать</td>
				<td>Удалить</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}