{% extends "main.html" %}

{% block questions %}	
<section class="cd-faq">

	<ul class="cd-faq-categories">
		{% for d in data %}
		<li><a href="#{{d.categorie|escape}}">{{d.categorie|escape|capitalize}}</a></li>		 
		{% endfor %}
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		{% for d in data %}
		<ul id="{{d.categorie|escape}}" class="cd-faq-group">
			<li class="cd-faq-title"><h2>{{d.categorie|escape}}</h2></li>
			{% for q in questions %}
			{% if q.categorie|escape == d.categorie|escape%}
			<li>
				<a class="cd-faq-trigger" href="#0">{{q.question|escape}}</a>
				<div class="cd-faq-content">
					<p>{{q.answer|escape}}</p>
				</div> <!-- cd-faq-content -->
			</li>
			{% endif %}
			

			{% endfor %}
		</ul> <!-- cd-faq-group -->
		{% endfor %}
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->

{% endblock %}