{% extends "main.html" %}

{% block task %}
<form action="" method="POST">
  <input type="submit" value = "Выйти из аккаунта"  name = "exit">
</form>


<form action="" method="POST">
  
  <br>
  <br>
	<input type="text" name = textTask>
	<input type="submit" value = "Сохранить"  name = "editTask">
</form>

<table>
	<tdead>
		<tr>
			<td>Описание задачи</td>
			<td>Дата добавления</td>
			<td>Статус</td>
			<td></td>
			<td></td>
			<td></td>
			<td>Ответственный</td>
			<td>Автор</td>
			<td>Закрепить задачу за пользователем</td>
		</tr>
	</tdead>


		{% for d in data %}
		<tr>
			<td>  {{d.description|escape}}</td>
			<td>  {{d.date_added|escape}}</td>

			{% if d.is_done == 1 %}
			<td>В процессе</td>
			{% else %}
			<td>Выполнено</td>
			{% endif %}

 
 	<td><a name=edit href=?id={{d.id}}&action=edit>Изменить</a></td>
 	<td><a name=done href="?id={{d.id}}&action=done">Выполнить</a></td>
 	<td><a name =del  href="?id={{d.id}}&action=delete">Удалить</a></td>



 	<td> <!-- {{login}} --></td> <!-- Ответсвенный -->

 	<td>  {{login}} </td> <!-- Автор -->

 	<td> Другой пользователь </td> 

 </tr>		
 {% endfor %}

</table>
</tbody>
</table>

{% endblock %}


