<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<!-- <a href="templates\register.html">Войдите на сайт</a> -->

<h1>Здравствуйте, {{login}}! Вот ваш список дел:</h1>
<form action="" method="POST">
  <input type="submit" value = "Выйти из аккаунта"  name = "exit">

</form>


<form action="" method="POST">
  
  <br>
  <br>
	<input type="text" name = textTask>
	<input type="submit" value = "Добавить"  name = "addTask">
	 
</form>



<div id="task">
{% block task %}
{% endblock %}
</div>

</body>
</html>
</body>
</html>