{% extends "main.html" %}

{% block task %}

<table>
	<tdead>
		<tr>
			<td>Описание задачи</td>
			<td>Дата добавления</td>
			<td>Статус</td>
			<td></td>
			<td></td>
			<td></td>
			<td>Ответственный</td>
			<td>Автор</td>
			<td>Закрепить задачу за пользователем</td>
		</tr>
	</tdead>


		{% for d in data %}
		<tr>
			<td>  {{d.description|escape}}</td>
			<td>  {{d.date_added|escape}}</td>

			{% if d.is_done == 1 %}
			<td>В процессе</td>
			{% else %}
			<td>Выполнено</td>
			{% endif %}

 
 	<td><a name=\"edit\" href=\"lesson_4.2.php?edit={{d.id}}">Изменить</a></td>
 	<td><a name=\"done\" href=\"lesson_4.2.php?done={{d.id}}">Выполнить</a></td>
 	<td><a name=\"del\" href=\"lesson_4.2.php?del={{d.id}}">Удалить</a></td>



 	<td> <!-- {{login}} --></td> <!-- Ответсвенный -->

 	<td>  {{login}} </td> <!-- Автор -->

 	<td> Другой пользователь </td> 

 </tr>		
 {% endfor %}

</table>
</tbody>
</table>

{% endblock %}


